@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header_container {
  margin: auto;
  max-width: 1280px;
  width: 100%;
}

.main_container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

header img {
  max-width: 10%;
  height: auto;
}

.header_content {
  margin-top: 20px;
}

.startofthecourse {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  font-size: 23px;
}

.startofthecourse div img {
  max-height: 30%;
  width: auto;
  margin-right: 4%;
}

.startofthecourse div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}

.startofthecourse div:nth-child(2) {
  width: 20%;
}

.producer1_photo {
  margin-top: 29px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.producer1_photo div {
  max-width: 60%;
  font-size: 23px;

  font-weight: 400;
}

.producer1_photo div:last-child {
  width: 28.3%;
}

.producer1_photo div img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Roboto Slab";
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  line-height: 100%;
}

.producer1_photo p {
  max-width: 67%;
}

.quote {
  font-family: "Roboto Slab";
  font-weight: 400;
  background-color: #1e4681;
  color: #ffffff;
  font-size: 25px;
  max-width: 40%;
  height: auto;
  border-radius: 5px;
  margin-top: 68px;
  margin-left: 23%;
  margin-bottom: 173px;
}

.quote p {
  margin: 0;
}

.quote p:first-child {
  padding: 5% 3% 2% 5%;
  text-align: left;
  line-height: 130%;
}

.quote p:last-child {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  text-align: right;
  padding-right: 5%;
  padding-bottom: 5%;
}

.course_descrip_photo {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  max-width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 150%;
}

.course_descrip_photo div:last-child {
  width: 30%;
}

.course_descrip_photo div img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-family: "Roboto Slab";
  font-size: 55px;
  font-weight: 700;
  line-height: 101.38%;
}

.descrip {
  max-width: 60%;
}

.descrip p {
  margin-top: 0;
}

.photo_lessons_comments {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 80%;
  margin-top: 70px;
  margin-bottom: 162px;
}

.duration_list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  margin-left: 15%;
}

.duration_list div {
  max-width: 30%;
  height: auto;
}

.photo_comments {
  width: 30%;
}

.photo_lessons_comments img {
  max-width: 100%;
  height: auto;
}

.duration {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
}

.classformat_form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 179px;
  font-size: 18px;
  font-weight: 400;
  max-width: 60%;
  line-height: 130%;
}

.format {
  color: #1e4681;
  font-size: 25px;
  font-weight: 700;
}

.classformat_form_descrip div {
  max-width: 30%;
  height: auto;
}

/*____________________________________________________________________________________________________________*/

.will_learn {
  width: 46%;
  margin: 0 0 248px 0px;
}
h2 {
  font-family: Roboto Slab;
  font-size: 55px;
  line-height: 101.38%;
}

ul {
  font-family: Roboto;
  font-size: 24px;
}

.content_program {
  margin: 95px 0 0px 0px;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
  width: 88%;
}

.program_block {
  border: 0px solid rgb(255, 255, 255);
  border-radius: 37px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 41px;
  margin-right: 37px;
  width: 28%;
}

.program_block > div:nth-child(2) {
  padding: 0 30px;
}

.program_block img {
  width: 100%;
  height: 100%;
}

/*_______________________________________________________________________________________________________________________*/

#wrapper {
  margin: auto;
  max-width: 1280px;
}

.feedback_container {
  margin: auto;
  max-width: 1280px;
  width: 100%;
}

.price_container {
  margin: auto;
  max-width: 1280px;
  width: 100%;
}

#feedback {
  background-color: #efefef;
  height: 780px;
}

.feedback_one h2 {
  margin: 0;
  padding-top: 91px;
  padding-bottom: 63px;
  font-size: 55px;
}

.feedback_info {
  max-width: 791px;
  max-height: 451px;
  background-color: white;
  border-radius: 30px;
  margin-left: 0.4%;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.feedback_info div:first-child {
  max-width: 88%;
  max-height: 45%;
  padding: 5% 6% 0 6%;
  font-size: 20px;
  line-height: 150%;
}

.feedback_info p {
  margin: 0;
}

.avatar {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: "Roboto Slab";
  font-weight: 700;
  line-height: 101.38%;
  max-width: 72.4%;
}

.avatar div:first-child {
  width: 33%;
  margin-bottom: 29px;
  padding-left: 5%;
}

.avatar div img {
  max-width: 100%;
  height: auto;
}

.avatar div p {
  margin-top: 5px;
  margin-bottom: 30px;
}

.avatar div:last-child img {
  width: 10%;
}

#price-list {
  background-color: #9dc9c8;
  height: 780px;
}

.price-list_one h2 {
  margin: 0;
  padding-top: 179px;
  padding-bottom: 54px;
  font-size: 55px;
}

.conditions p {
  padding-top: 20px;
}
.cost {
  font-size: 25px;
  margin-bottom: 0;
}

.price {
  font-size: 80px;
  margin-top: 0;
  height: auto;
}

.conditions {
  display: flex;
  justify-content: space-between;
  max-width: 56%;
}

.conditions div {
  max-width: 45%;
  height: auto;
  font-size: 25px;
  line-height: 101.38%;
}

.footer_container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

footer {
  background-color: black;
  height: 390px;
}

.contacts-for-communication p {
  color: white;
  margin-top: 0;
}

.contacts-for-communication {
  display: flex;
  justify-content: space-between;
  max-width: 81.4%;
}

.social-network {
  padding-top: 50px;
  width: 16.9%;
}

.logo-mobile {
  width: 58%;
}

.logo-mobile img {
  max-width: 100%;
  height: auto;
}

.phone-mail {
  margin-top: 54px;
  max-width: 27%;
}

.number ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.number ul li {
  font-size: 25px;
  line-height: 101.38%;
}

.number ul li:first-child {
  margin-right: 7%;
  max-width: 10%;
}

.number ul img {
  max-width: 100%;
  height: auto;
}

.mail ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.mail ul li {
  font-size: 25px;
  line-height: 101.38%;
}

.mail ul li:first-child {
  margin-right: 7%;
  min-width: 10%;
}

.mail ul img {
  max-width: 100%;
  height: auto;
}

.messengers {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.messengers div {
  width: 17.6%;
}

.messengers div img {
  max-width: 100%;
  height: auto;
}

.copyright {
  color: white;
  font-size: 18px;
  line-height: 101.38%;
  margin-top: 140px;
}

/*____________________________________________________________________________________________________________________*/

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .header_content {
    margin-left: 70px;
  }

  .startofthecourse {
    max-width: 37%;
    margin-top: 56px;
    font-size: 12px;
    margin-left: 70px;
  }

  .producer1_photo {
    margin-top: 8px;
    max-width: 90%;
  }

  .producer1_photo div {
    font-size: 15px;
  }

  h1 {
    font-size: 46px;
    margin-left: 70px;
  }
  .producer1_photo p {
    margin-left: 70px;
  }

  .quote {
    font-size: 12px;
    height: 116px;
    border-radius: 2.9px;
    margin-top: 39px;
    margin-bottom: 100px;
    max-width: 33.5%;
    margin-left: 70px;
  }

  .quote p:last-child {
    font-size: 10px;
    margin-left: 70px;
  }

  .course_descrip_photo {
    font-size: 15px;
    max-width: 90%;
  }

  .photo_lessons_comments {
    margin-top: 30px;
    margin-bottom: 94px;
  }

  .descrip {
    max-width: 50%;
  }

  .duration_list {
    font-size: 15px;
    margin-left: 70px;
  }

  .duration_list div {
    max-width: 23%;
  }

  .photo_comments {
    width: 20%;
  }

  .duration {
    font-size: 15px;
  }

  .classformat_form {
    margin-top: 51px;
    margin-bottom: 103px;
    font-size: 15px;
  }

  .classformat_content {
    margin-left: 70px;
  }

  .aboutcourse_content {
    margin-left: 70px;
  }

  .format {
    font-size: 15px;
  }

  .classformat_form div {
    max-height: 45px;
  }

  /*____________________________________________________*/
  h2 {
    font-size: 32px;
    margin-left: 70px;
  }
  ul {
    font-size: 14px;
    padding-left: 0;
  }
  .will_learn {
    width: 46%;
    margin: 0 0 144px 80px;
  }
  .content_program {
    max-width: 88%;
    margin: 55px 0 52px 49px;
  }
  .program_block {
    margin-bottom: 24px;
    margin-right: 21px;
    width: 28%;
  }

  /*_________________________________________________________________*/

  .feedback_one,
  .price-list_one,
  .contacts-for-communication {
    margin-left: 70px;
  }

  #feedback {
    height: 451px;
  }

  .price-list {
    height: 451.75px;
  }

  .feedback_one h2 {
    padding-top: 32px;
    padding-bottom: 40.26px;
    font-size: 32px;
  }

  .feedback_info {
    max-width: 458px;
    max-height: 261px;
    box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
    border-radius: 17.3px;
  }

  .feedback_info div:first-child {
    padding: 5% 6% 0 6%;
    font-size: 12px;
  }

  .avatar {
    font-size: 17px;
    max-width: 72.4%;
  }

  .avatar div:first-child {
    width: 24.24%;
    margin-bottom: 16.8px;
    padding-left: 5%;
  }

  .avatar div p {
    margin-top: 1.91%;
    margin-bottom: 6.51%;
  }

  #price-list {
    background-color: #9dc9c8;
    height: 451.5px;
  }

  .price-list_one h2 {
    padding-top: 103.67px;
    padding-bottom: 31.27px;
    font-size: 32px;
  }

  .cost {
    font-size: 14px;
  }

  .price {
    font-size: 46px;
  }

  .conditions {
    max-width: 45.69%;
  }

  .conditions div {
    font-size: 14px;
  }

  footer {
    background-color: black;
    height: 225.88px;
  }

  .social-network {
    padding-top: 29px;
  }

  .messengers {
    margin-top: 17px;
  }

  .phone-mail {
    margin-top: 31px;
    font-size: 14px;
  }

  .phone-mail ul li {
    font-size: 14px;
  }

  .mail ul li {
    font-size: 14px;
  }
  .number {
    font-size: 14px;
  }

  .mail ul li:first-child {
    min-width: 10%;
  }

  .copyright {
    font-size: 10px;
    margin-top: 64px;
    margin-left: 71px;
  }
}

/*__________________________________________________________*/

@media screen and (max-width: 991px) {
  .header_content {
    margin-left: 36px;
  }

  header img {
    min-width: 52px;
  }
  .startofthecourse {
    max-width: 35%;
    min-width: 237px;
    margin-top: 47px;
    font-size: 10px;
    margin-left: 35px;
  }

  .startofthecourse div {
    min-width: 75px;
  }

  .startofthecourse div:nth-child(2) {
    min-width: 59px;
  }

  .producer1_photo {
    margin-top: 8px;
    flex-direction: column;
  }
  .producer1_photo p {
    margin-left: 35px;
  }
  .producer1_photo div {
    font-size: 10px;
    max-width: 100%;
  }

  .producer1_photo div:last-child {
    min-width: 141px;
    margin: auto;
  }

  h1 {
    font-size: 37px;
    margin-left: 35px;
  }

  .quote {
    font-size: 10px;
    height: 93px;
    border-radius: 2.3px;
    margin-top: 39px;
    margin-bottom: 75px;
    margin-left: 0;
    min-width: 225px;
    margin-left: 35px;
  }

  .quote p:last-child {
    font-size: 10px;
  }

  .course_descrip_photo {
    font-size: 10px;
    flex-wrap: wrap;
  }

  h2 {
    font-size: 26px;
  }

  .photo_lessons_comments {
    margin-top: 30px;
    margin-bottom: 76px;
  }

  .duration_list {
    font-size: 10px;
    margin-left: 0;
    max-width: 206px;
    flex-wrap: wrap;
  }

  .duration_list div {
    max-width: 40%;
  }

  .photo_comments {
    display: none;
  }

  .course_descrip_photo {
    flex-direction: column;
    align-items: flex-start;
  }

  .descrip {
    min-width: 280px;
  }

  .course_descrip_photo div:last-child {
    min-width: 170px;
    margin: auto;
  }

  .duration {
    font-size: 12px;
  }

  .classformat_content {
    margin-left: 35px;
  }

  .aboutcourse_content {
    margin-left: 35px;
  }

  .classformat_form {
    margin-top: 17px;
    margin-bottom: 73px;
    font-size: 10px;
    flex-direction: column;
  }

  .format {
    font-size: 10px;
  }

  .classformat_form div {
    max-height: 50px;
    margin-bottom: 30px;
    max-width: 180px;
  }
  /*____________________________________________________*/

  h2 {
    font-size: 26px;
    margin-left: 36px;
  }
  ul {
    font-size: 12px;
    padding-left: 0;
  }
  .will_learn {
    width: 79%;
    margin: 0 0 85px 44px;
  }
  .content_program {
    margin: auto;
  }
  .program_block {
    margin-bottom: 24px;
    margin-left: 95px;
    width: 49%;
  }

  .feedback_one,
  .price-list_one,
  .contacts-for-communication {
    margin-left: 36px;
  }

  #feedback {
    height: 423px;
  }

  .feedback_one h2 {
    padding-top: 42px;
    padding-bottom: 28px;
    font-size: 26px;
    width: 257px;
  }

  .feedback_info {
    max-width: 308px;
    max-height: 248px;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    border-radius: 13.9px;
  }

  .feedback_info div:first-child {
    padding: 5% 6% 0 6%;
    font-size: 10px;
  }

  .avatar {
    font-size: 0.87rem;
    max-width: 83.77%;
  }

  .avatar div:first-child {
    width: 31.01%;
    margin-bottom: 13px;
    padding-left: 5%;
  }

  .avatar div p {
    margin-top: 1.91%;
    margin-bottom: 6.51%;
  }

  #price-list {
    height: 363px;
  }

  .price-list_one h2 {
    padding-top: 62px;
    padding-bottom: 22.33px;
    font-size: 26px;
    width: 224px;
  }

  .cost {
    font-size: 12px;
  }

  .price {
    font-size: 37px;
    margin: 0%;
  }

  .conditions p {
    padding-top: 10px;
    font-size: 10px;
  }
  .conditions {
    max-width: 45%;
  }

  .conditions div {
    font-size: 12px;
    width: 140px;
  }

  footer {
    background-color: black;
    height: 251px;
  }

  .social-network {
    padding-top: 23px;
    min-width: 24.5%;
  }

  .contacts-for-communication {
    flex-direction: column;
    margin-top: 0;
  }

  .contacts-for-communication p {
    margin-top: 0;
  }

  .logo-mobile img {
    max-width: 70%;
  }
  .contacts {
    margin-top: 47px;
    min-width: 41%;
  }

  .number ul li {
    font-size: 10px;
  }

  .mail ul li {
    font-size: 10px;
  }

  .mail ul li:first-child {
    min-width: 10%;
  }

  .messengers {
    margin-top: 14px;
    min-width: 24.5%;
  }
  .messengers div img {
    max-width: 70%;
  }
  .phone-mail {
    margin-top: 10px;
  }
  .messengers div {
    min-width: 17%;
  }
  .mail ul img {
    max-width: 70%;
  }
  .copyright {
    font-size: 10px;
    margin-left: 36px;

    margin-top: 30px;
  }
}
