h2 {
  font-family: Roboto Slab;
  font-size: 55px;
  margin-left: 121px;
  line-height: 101.38%;
  height: 93px;
}
.learn {
  font-family: Roboto;
  font-size: 24px;
  margin: 0 0 248px 138px;
  width: 662px;
}
.container {
 font-family: Roboto;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin-left: 84px;
 margin-right: 85px;
 line-height: 150%;
 height: 1286px;
}
img {
  width: 100%;
}
.program_block {
  position: relative;
  width: 399px;
  height: 328px;
  display: flex;
  flex-direction: column;
  border: 0px solid rgb(255, 255, 255);
  border-radius: 30px; 
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);

}
.program_block>div:nth-child(2) {
  padding: 0 30px;
}
.program_block:last-of-type {
  box-shadow: none;
}
h3 {
  position: absolute;
  top: 171px;
}
p {
  position: absolute;
  top: 242px;
  margin: 0;
}
@media (min-width: 992px) and (max-width:1279px) {
  .container {
    max-width: 762px;
    margin: auto;
    display: flex;
  }
  .program_block {
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width:991px) {
  .container {
    margin: auto;
    max-width: 340px;
    display: flex;

  }
  .program_block {
    margin: 24px;
  }
}