h2 {
    font-family: Roboto Slab;
    font-size: 55px;
    line-height: 101.38%;
    height: 93px;
    margin-left: 121px;
    margin-top: 2510px;
  }
  .learn {
    width: 662px;
    height: 374px;
    margin-left: 138px;
    margin-top: 2624px;
    padding-left: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
  }
  .program {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    position: absolute;
    width: 905px;
    height: 93px;
    margin-left: 121px;
    margin-top: 3246px;
  }
  .blocks {
    display: flex;
    list-style-type: none;
    font-family: Roboto;
    flex-wrap: wrap;
  }
  .movie {
    background: url(img/Group1.png) style="width:100%;;
    width: 399px;
    height: 328px;
    margin-left: 48.65px;
    margin-top: 1998.7px;
  }
  .view1 {
    background: url(img/Group2.png);
    width: 399px;
    height: 328px;
    left: 301.17px;
    top: 1998.7px;
  }
  .view2 {
    background: url(img/Group3.png);
    width: 399px;
    height: 328px;
    left: 553.68px;
    top: 1998.7px; 
  }
  .view3 {
    background: url(img/Group4.png);
    width: 399px;
    height: 328px;
    left: 48.65px;
    top: 2212.41px;
  }
  .view4 {
    background: url(img/Group5.png);
    width: 399px;
    height: 328px;
    left: 301.17px;
    top: 2212.41px;
  }
  .language {
    background: url(img/Group6.png);
    width: 399px;
    height: 328px;
    left: 553.68px;
    top: 2212.41px;
  }
  .view5 {
    background: url(img/Group7.png);
    width: 399px;
    height: 328px;
    left: 48.65px;
    top: 2428.44px;
  }
  .viewer {
    background: url(img/Group8.png);
    width: 399px;
    height: 328px;
    left: 301.17px;
    top: 2428.44px;
  }